*\kratos-dashboard\frontend\node_modules
*\kratos-dashboard\frontend\node_modules\
*/kratos-dashboard/frontend/node_modules
*/kratos-dashboard/frontend/node_modules/
kratos-dashboard/frontend/node_modules/